@font-face {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/CabinetGrotesk-Black.otf');
}
@font-face {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/CabinetGrotesk-Extrabold.otf');
}
@font-face {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/CabinetGrotesk-Bold.otf');
}
@font-face {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/CabinetGrotesk-Light.otf');
}

@font-face {
  font-family: Jakarta;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PlusJakartaSans-Regular.ttf');
}
@font-face {
  font-family: Jakarta;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PlusJakartaSans-Medium.ttf');
}
@font-face {
  font-family: Jakarta;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PlusJakartaSans-SemiBold.ttf');
}