html, body {
  font-family: Cabinet Grotesk, sans-serif;
  color: #000;
  line-height: 175%;
  font-weight: 400;
}

a {
  width: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 100px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.socials {
  margin: 0 auto 0 50px;
  display: flex;
}

.social {
  margin-right: 20px;
}

.telega::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/tg.svg") no-repeat;
}

.youtube::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/tg.svg") no-repeat;
}

.vk::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/tg.svg") no-repeat;
}

.btns-box {
  gap: 20px;
  display: flex;
}

.btns-box input {
  border-radius: 10px;
  padding-left: 5px;
}

.btn {
  padding: 10px;
  background-color: #2C75FF;
  border-radius: 10px;
}

.nav__bar {
  margin-bottom: 100px;
  background-color: #2C75FF;
}

.container {}

.nav__bar-inner {}

.nav__bar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__bar-item {
  position: relative;
  margin-right: 40px;
  padding: 20px 0 20px 0;
}

.nav__bar-item:hover .second__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}

.nav__bar-item>a {
  font-size: 25px;
}

.second__list {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 15px;
  z-index: 1;
  background-color: #2C75FF;
}

.second__list li {
  margin: 10px 0 10px 5px;
}

.slider {
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 100px;
}

.slider__container {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slide img {
  width: 500px;
  max-height: 100%;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.prev {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
}

.next {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
}

.vacantion {
  margin: 100px 0px;
}

.vacantion__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacantion-title {
  color: #000000;
  font-size: 40px;
  margin-bottom: 50px;
}

.vacantion__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
  margin-bottom: 100px;
}

.vacantion__cards-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px 30px 15px;
  border: 1px solid #000;
  border-radius: 6px;
}

.vacantion__cards-item span {
  opacity: 0.5;
  margin-bottom: 5px;
}

.vacantion__name {}

.vacantion__currentJob {}

.vacantion__salary {}

.vacantion__skills {}

.vacantion__exp, .vacantion__pos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.vacantion__pos {
  margin-bottom: 20px;
}

.hire {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px 5px;
  background-color: #2C75FF;
}

.contact-form {
  margin-top: 50%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px;
}

.contact-input {
  background-color: rgb(191, 192, 194);
  border-radius: 6px;
  padding: 5px;
}

.contact-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea {
  background-color: rgb(191, 192, 194);
  border-radius: 6px;
}

.text {
  display: flex;
}

.btn-box {
  display: flex;
}

.btn-box button {
  padding: 15px 30px 15px 30px;
  background-color: #2C75FF;
  border-radius: 6px;
}

.title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}

.back {
  padding: 5px;
  background-color: #2C75FF;
}

.back a{
  display: block;
  width: 100%;
}